
<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Login</h3>
              </div>
              <div class="panel-body">
                  <!-- <form role="form"> -->
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name, role: "form")) do |f| %>
                      <fieldset>
                          <div class="form-group">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail" %>
                              <!-- <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> -->
                          </div>
                          <div class="form-group">
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
                              <!-- <input class="form-control" placeholder="Password" name="password" type="password" value=""> -->
                          </div>
                          <% if devise_mapping.rememberable? %>
                            <div class="checkbox">
                              <label>
                                <%= f.check_box :remember_me %><%= f.label :remember_me %>
                              </label>
                            </div>
                          <% end %>
                          <!-- Change this to a button or input when using this as a form -->
                          <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                          <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block" %>
                          <%#= render "admins/shared/links" %>
                      </fieldset>
                  <% end %>
                  <!-- </form> -->
              </div>
          </div>
      </div>
  </div>
</div>

<% flash.each do |key,value| %>
  <script>
    $.notify("<%= value %>", "info", { position:"top center" });
  </script>
<% end %>
