<h1 class="page-header"><%= Category.model_name.human() %></h1>
<% if @category.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
<div class="panel-heading"><%= action %></div>
<!-- /.panel-heading -->

<div class="panel-body">
  <%= form_for @category do |f| %>
  <div class="form-group">
    <label><%= Category.human_attribute_name("name") %></label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter text" %>
  </div>

  <%= submit_tag t('labels.save'), {class: "btn btn-primary"} %>
  <%= link_to t('labels.back'), categories_path, {class: 'btn btn-outline btn-danger'} %>
<% end %>
</div>
<!-- /.panel-body -->
</div>
