<h1 class="page-header"><%= Category.model_name.human(count: 2) %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to new_category_path, class:'btn btn-success btn-circle pull-right' do %>
    <i class="fa fa-plus"></i>
  <% end %>
  <%= t('labels.listing') %>
</div>
<!-- /.panel-heading -->

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th> # </th>
          <th><%= Category.human_attribute_name("name") %></th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <%= link_to edit_category_path(category), class: "btn btn-info btn-circle" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to category_path(category), method: :delete, data: {confirm: t('messages.confirm_destroy_with', item: category.name)}, class: "btn btn-danger btn-circle" do %>
                    <i class="fa fa-minus"></i>
                  <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
