<h1 class="page-header"><%= Transaction.model_name.human() %></h1>
<% if @transaction.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= action %></div>
  <!-- /.panel-heading -->

  <div class="panel-body">
    <%= form_for @transaction do |f| %>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("date") %></label>
        <%= f.date_field :date, class: "form-control" %>
      </div>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("basis") %></label>
        <%= f.date_field :basis, class: "form-control" %>
      </div>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("title") %></label>
        <%= f.text_field :title, class: "form-control", placeholder: "Enter text" %>
      </div>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("kind") %></label>
        <%= f.collection_radio_buttons(:kind, options_for_kinds, :id, :description) do |opt| %>
        <div class="radio">
          <label>
            <%= opt.label { opt.radio_button + opt.text } %>
          </label>
        </div>
        <% end %>
      </div>

      <div class="form-group">
        <label><%= Account.model_name.human %></label>
        <%= f.collection_radio_buttons(:account_id, options_for_accounts, :id, :description) do |opt| %>
        <div class="radio">
          <label>
            <%= opt.label { opt.radio_button + opt.text } %>
          </label>
        </div>
        <% end %>
      </div>

      <div class="form-group">
        <label><%= Category.model_name.human %></label>
        <%= f.collection_select(:category_id, options_for_categories, :id, :description, {:prompt => t('messages.select')}, {class: "form-control"}) do |opt| %>
        <div>
          <label>
            <%= opt.label { opt.radio_button + opt.text } %>
          </label>
        </div>
        <% end %>
      </div>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("value") %></label>
        <%= f.number_field :value, class: "form-control", step: :any %>
      </div>

      <div class="form-group">
        <label><%= Transaction.human_attribute_name("done") %></label>
        <%= f.check_box :done %>
      </div>
    <%= submit_tag t('labels.save'), {class: "btn btn-primary"} %>
    <%= link_to t('labels.back'), transactions_path, {class: 'btn btn-outline btn-danger'} %>
<% end %>
</div>
<!-- /.panel-body -->
</div>
