<h1 class="page-header"><%= Transaction.model_name.human(count: 2) %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to new_transaction_path, class:'btn btn-success btn-circle pull-right' do %>
    <i class="fa fa-plus"></i>
  <% end %>
  <%= t('labels.listing') %>
</div>
<!-- /.panel-heading -->

<div class="panel-body">
  <div class="table-responsive">

    <%= form_tag transactions_path, method: :get, class: "navbar-form navbar-left search-form" do %>
      <label><%= t('labels.initial_date') %></label>
      <%= date_field("transaction", "initial_date") %>
      <label><%= t('labels.final_date') %></label>
      <%= date_field("transaction", "final_date") %>
      <br/>
      <label><%= t('labels.basis_date') %></label>
      <%= date_field("transaction", "basis_initial_date") %>
      <label><%= t('labels.basis_date') %></label>
      <%= date_field("transaction", "basis_final_date") %>
      <br/>
      <label><%= t('labels.consolidado_XXX') %></label>
      <%= check_box("transaction", "consolidado") %>
      <br/>
      <%= submit_tag t('labels.filter'), {class: "btn btn-default"} %>
    <% end %>

    <table class="table table-striped table-hover">
      <thead>
        <tr class="thead-dark">
          <th class="text-center">#</th>
          <th class="text-center"><%= Transaction.human_attribute_name("basis") %></th>
          <th class="text-center"><%= Transaction.human_attribute_name("date") %></th>
          <th class="text-center"><%= Transaction.human_attribute_name("title") %></th>
          <th class="text-center"><%= Account.model_name.human %></th>
          <th class="text-center"><%= Category.model_name.human %></th>
          <th class="text-center"><%= Transaction.human_attribute_name("kind") %></th>
          <th class="text-center"><%= Transaction.human_attribute_name("value") %></th>
          <th class="text-center"><%= Transaction.human_attribute_name("done") %></th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
        <% @transactions.each do |transaction| %>
          <tr class="<%= transaction.debit? ? 'danger' : 'success'%>">
            <td class="text-center"><%= transaction.id %></td>
            <td class="text-center"><%= l(transaction.basis) %></td>
            <td class="text-center"><%= l(transaction.date) %></td>
            <td class="text-left"><%= transaction.title %></td>
            <td class="text-left"><%= transaction.account.name %></td>
            <td class="text-left"><%= transaction.category.name %></td>
            <td class="text-left"><%= transaction.kind_i18n %></td>
            <td class="text-right"><%= number_to_currency(transaction.value) %></td>
            <td class="text-center"><%= t("#{transaction.done}") %></td>
            <td class="text-center">
              <%= link_to edit_transaction_path(transaction), class: "btn btn-info btn-circle" do %>
              <i class="fa fa-edit"></i>
            <% end %>
              <%= link_to transaction_path(transaction), method: :delete, data: {confirm: t('messages.confirm_destroy_with', item: transaction.title)}, class: "btn btn-danger btn-circle" do %>
                <i class="fa fa-minus"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">SALDO PERÍODO</td>
        <td class="text-right" ><%= number_to_currency(@balance) %></td>
        <td colspan="2"></td>
    </tfoot>
  </table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
