<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyBills</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render partial: "layouts/_shared/navigation" %>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <%= yield %>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->
    </div>

    <% if notice %>
      <script type="text/javascript">
        $.notify("<%= notice %>", {className: "success", position:"top center" });
      </script>
    <% end %>

    <% if alert %>
      <script type="text/javascript">
        $.notify("<%= alert %>", {className: "error", position:"top center" });
      </script>
    <% end %>

  </body>
</html>
