<h1 class="page-header"><%= Account.model_name.human() %></h1>
<% if @account.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= action %></div>
  <!-- /.panel-heading -->

  <div class="panel-body">
    <%= form_for @account do |f| %>
    <div class="form-group">
      <label><%= Account.human_attribute_name("name") %></label>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter text" %>
    </div>

    <div class="form-group">
      <label><%= Account.human_attribute_name("kind") %></label>
      <%= f.collection_radio_buttons(:kind, options_for_kinds, :id, :description) do |opt| %>
      <div class="radio">
        <label>
          <%= opt.label { opt.radio_button + opt.text } %>
        </label>
      </div>
    <% end %>
  </div>

  <%= submit_tag t('labels.save'), {class: "btn btn-primary"} %>
  <%= link_to t('labels.back'), accounts_path, {class: 'btn btn-outline btn-danger'} %>
<% end %>
</div>
<!-- /.panel-body -->
</div>
