<h1 class="page-header"><%= Account.model_name.human(count: 2) %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to new_account_path, class:'btn btn-success btn-circle pull-right' do %>
    <i class="fa fa-plus"></i>
  <% end %>
  <%= t('labels.listing') %>
</div>
<!-- /.panel-heading -->

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th> # </th>
          <th><%= Account.human_attribute_name("name") %></th>
          <th><%= Account.human_attribute_name("kind") %></th>
          <th><%= t('labels.balance') %></th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.id %></td>
            <td><%= account.name %></td>
            <td><%= account.kind_i18n %></td>
            <td class="text-right"><%= number_to_currency(account.calculates_balance) %></td>
            <td>
              <%= link_to edit_account_path(account), class: "btn btn-info btn-circle" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to account_path(account), method: :delete, data: {confirm: t('messages.confirm_destroy_with', item: account.name)}, class: "btn btn-danger btn-circle" do %>
                    <i class="fa fa-minus"></i>
                  <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
